* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background: #c5c5c5;
}

.container {
  width: 450px;

  background: #f6f6f8;

  border-radius: 20px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.header {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;

  gap: 0.25rem;
}

.content i {
  font-size: 2rem;
  color: #135bec;

  background: #dfe6f6;
  padding: 16px;
  border-radius: 20%;

  margin-bottom: 20px;
}

.content h1 {
  text-align: center;
  color: #1f1f1f;
}
.content p {
  text-align: center;
  color: #6f7e93;
  font-size: 0.9rem;
}

form {
  width: 410px;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

form label {
  width: 80%;
  color: #1f1f1f;
  font-weight: 500;
}

form input {
  width: 80%;
  height: 40px;

  border-radius: 8px;
  border: 1px solid #f3f6f9;
  background: #fff;
  padding-left: 16px;
}

form input::placeholder {
  color: #d2d8e1;
}

form button {
  width: 80%;
  height: 55px;

  border: none;
  border-radius: 8px;
  color: #fff;

  font-size: 1rem;
  font-weight: 500;

  margin-top: 20px;
  background: #135bec;
}

.footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #d2d8e1;
  margin: 10px 0 36px 0;
}

.footer {
  width: 80%;
}

.footer p {
  font-size: 0.875rem;
  text-align: center;
  color: #6f7e93;
}

.footer a {
  text-decoration: none;
  color: #135bec;
  font-weight: bold;
}
